.pyc
log/db/*
*.log
*.sqlite3
*.env
.vvv/
vvv/
.venv/
venv/
__pycache__/
*.egg-info/
dist/
build/
*.egg
__pycache__/
*.pyc
*.pyo
*.pyd
env/
log/db/*.db
*/__pycache__/
*db
*/*.db
*/*/*.db
log/db/kline_cache.db
*/db
*/db/
*/db/*
log/db/*
*.log
*.sqlite3